
  <div class="main_container">
    <div class="main_elem text text_bold text_title_size_l">Помощь</div>

    <div class="main_elem namecards-list">
      <div class="menu_namecard">
        <div class="menu_namecard_description">
          <span class="text text_bold text_title_size_s">1. Как создать учетную запись на сайте Bouvetoya?</span>
          <span class="main_namecards-list_namecard_span text">1. Нажмите на кнопку "Регистрация" в правом верхнем углу страницы.<br>
          2. Заполните необходимые поля: имя, адрес электронной почты
          </span>
              </div>
      </div>
      <div class="menu_namecard _menu_namecard">
        <div class="menu_namecard_description">
          <span class="text text_bold text_title_size_s">2. Как войти в свою учетную запись?</span>
          <span class="main_namecards-list_namecard_span text">1. Нажмите на кнопку "Вход" в правом верхнем углу страницы.
<br>2. Введите свой адрес электронной почты и пароль.<br>3. Нажмите "Войти".</span>
        </div>
      </div>
      <div class="menu_namecard _menu_namecard">
        <div class="menu_namecard_description">
          <span class="text text_bold text_title_size_s">3. Как найти нужный товар на сайте?</span>
          <span class="main_namecards-list_namecard_span text">1. Воспользуйтесь строкой поиска в верхней части страницы, введя название товара или его категорию.
<br>2. Используйте фильтры и категории в меню слева, чтобы сузить результаты поиска.</span>
        </div>
      </div>
      <div class="menu_namecard _menu_namecard">
        <div class="menu_namecard_description">
          <span class="text text_bold text_title_size_s">4. Как добавить товар в корзину?</span>
          <span class="main_namecards-list_namecard_span text">1. Перейдите на страницу товара.
<br>2. Выберите нужное количество и нажмите кнопку "Добавить в корзину".
<br>3. Товар будет добавлен в вашу корзину, и вы сможете продолжить покупки или перейти к оформлению заказа.</span>
        </div>
      </div>
      <div class="menu_namecard _menu_namecard">
        <div class="menu_namecard_description">
          <span class="text text_bold text_title_size_s">5. Как отследить статус заказа?</span>
          <span class="main_namecards-list_namecard_span text">1. Войдите в свою учетную запись.
<br>2. Перейдите в раздел "Мои заказы".
<br>3. Найдите нужный заказ и нажмите на него, чтобы увидеть актуальную информацию о его статусе.</span>
        </div>
      </div>
      <div class="menu_namecard _menu_namecard">
        <div class="menu_namecard_description">
          <span class="text text_bold text-gradient text_title_size_s">Акции</span>
          <span class="main_namecards-list_namecard_span text">Приглашайте друзей и получайте подарки
          <br> За каждого друга скидка 20%
          </span>
        </div>

      </div>
    </div>
  </div>

