
<div class="container mt-3 ">
  <div>
    <h1>Добро пожаловать в Bouvetoya!</h1>
  </div>
  <p>Мы – компания Bouvetoya, и наша цель – предложить вам лучший выбор техники для дома и офиса. С момента основания нашей компании мы стремимся к высочайшим стандартам качества и обслуживания. В нашем ассортименте вы найдете все: от бытовой техники и электроники до аксессуаров и умных устройств.
  </p>

  <h3>Наши ценности:</h3>
  <p>
    - Качество: Мы работаем только с проверенными производителями, чтобы вы могли быть уверены в надежности и долговечности приобретенной техники.
    <br>- Удобство: Современный интернет-магазин Bouvetoya предлагает удобный интерфейс, легкий поиск и быструю доставку по всей стране.
    <br>- Обслуживание: Наша команда специалистов всегда готова помочь вам с выбором, ответить на все вопросы и обеспечить высокое качество сервиса на каждом этапе покупки.
  </p>

  <h3>Почему выбирают нас:</h3>
  <p>
    - Широкий ассортимент: Мы постоянно обновляем наш каталог, добавляя новинки и эксклюзивные товары.
    <br>- Конкурентные цены: Мы предлагаем разумные цены и специальные предложения, чтобы сделать качественную технику доступной каждому.

    <h3>Миссия Bouvetoya:</h3>
    <p>
    Наша миссия – сделать вашу жизнь проще и комфортнее с помощью современных технологий. Мы стремимся к тому, чтобы каждая покупка у нас приносила радость и удовлетворение, а наша техника служила вам долгие годы.
    </p><br>
    <p>Спасибо, что выбрали Bouvetoya. Мы ценим ваше доверие и будем рады видеть вас среди наших постоянных клиентов!</p>

  <section class="contacts">
    <div class="contact-info">
      <h3>Контакты</h3>
      <p>8(999)999-99-99<br>8(777)777-77-77<br>8(777)777-77-77<br>иваниванork.com</p>
    </div>
    <div class="address">
      <h3>Адрес</h3>
      <p>Ростов-на-Дону, ул.Большая Садовая 76</p>
    </div>
  </section>
</div>
